.container{
    display:flex;
    justify-content: center;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: slategray;
}

.title{
    font-size:30px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
}

td{
   background-color: aliceblue; 
}

td:hover{/*temporary, needs to be permanent*/
    background-color: black;
}