.container{
    display:flex;
    justify-content: center;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: slategray;
}

.title{
    font-size:30px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
}

.ui{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    flex: 0 0 1;
}

.box{
    display:flex;
    gap:100px;
}
button{
    width: 80px;
    height: 50px;
    border-radius:8px;
    color:white;
}

.red{
    background-color:red;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
    color:black;
}
.rainbow{
    background-color:darkmagenta;
}