.container{
    display:flex;
    justify-content: center;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: slategray;
}

.title{
    font-size:30px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
}

.ui{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.box{
    display:flex;
    gap:100px;
}
button{
    width: 80px;
    height: 50px;
    border-radius:8px;
    color:white;
}

.clickMe{
    background-color:orange;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
}


.popup{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content{
    height: 300px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid black;
}

.close{
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 5px;
    width: 30px;
    height: 20px;
    background: black;
}

.submit{
    background-color: black;
    display:block;
    margin: 10px auto;
    width: 100px;
    box-shadow: 6px 6px 29px -2px rgba(0,0,0,0.75);
}

p{
    text-align: center;
}